body {
  background: #ecf0f3;
}

.card img{
  width: 100%;
  transition: 0.3s;
  border-radius: 8px;
}
.container-photos {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: 12px;
  padding: 0.5%;
  margin-bottom: 6%;
  background: #fff;
  box-shadow: 2px 2px 4px -2px rgba(0,0,0,0.75);
  transition: 0.3s;
  break-inside: avoid;

}
.card:hover {
  box-shadow: inset 2px 2px 4px -2px (0,0,0,0.75);
}
.card:hover img{
  transform:scale(0.98);
}

@media screen and (max-width:2000px) and (min-width: 986px) {
  .card-columns{
    column-count: 3;
  }
  .modal-body img{
    max-height: 400px;
  }
}
@media screen and (max-width:985px) and (min-width: 501px){
  .card-columns{
    column-count: 2;
  }
  .modal-body img{
    max-height: 300px;
  }
}

@media screen and (max-width:500px){
  .card-columns{
    column-count: 1;
  }
  .modal-body img{
    max-height: 250px;
  }
}

.legend {
  color: aliceblue;
  position: relative;
  min-height: 350px;
  background: url('https://images.unsplash.com/photo-1501446529957-6226bd447c46?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1189&q=80') top center / cover no-repeat;
}
.search-container {
  padding: 10% 10% 10% 10%;
}
.modal {
  background: rgba(0,0,0,0.8);
  color: white;
}