{% extends 'base.html' %}
{% load static%}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/basephotos.css' %}">
{% endblock %}
{% block content %}
<div class="legend rounded-lg text-center">
  <div class="search-container">
    <h3 class="display-6">The best HD free stock photos shared by talented photographers. </h3>
    <form>
      <div class="container input-group">
        <input type="text" class="form-control" placeholder="Search by categories.." name="search">
        <button type="submit" class="btn btn-dark"><i class="fa fa-search"></i></button>
        <br>
      </div>
    </form>
    <p>travel,business,food,wedding,...</p>
  </div>
</div>
<div class="container container-photos">
  <div class="row">
    <div class="col-12">
      <div class="card-columns">
        {% for image in images %}
        <div class="card-container">
          <div class="card">
              <img src="{{image.image.url}}" alt="" data-bs-toggle="modal" data-bs-target="#Modal{{image.id}}">
          </div>
        </div>
        <div class="modal fade" id="Modal{{image.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl text-center">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> {{image.image_description}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
               
                <img class="img-responsive" src="{{image.image.url}}" alt="" >
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock  %}
{% block script %}

{% endblock  %}