{% extends 'base.html' %}
{% load static%}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/basephotos.css' %}">
{% endblock %}
{% block content %}
<div class="legend rounded-lg text-center">
  <div class="search-container">
    <h3 class="display-6">The best HD free stock photos shared by talented photographers. </h3>
    <form>
      <div class="container input-group">
        <input type="text" class="form-control" placeholder="Search by categories.." name="search">
        <button type="submit" class="btn btn-dark"><i class="fa fa-search"></i></button>
        <br>
      </div>
    </form>
    <p>travel,business,food,wedding,...</p>
  </div>
</div>
{% for image in images %}
<img src="{{image.image.url}}" alt="" data-bs-toggle="modal" data-bs-target="#exampleModal">

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{image.image_description}}
        <img src="{{image.image.url}}" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock  %}
{% block script %}

{% endblock  %}